# 가상환경
venv/
.venv/
ENV/
.env/

# 파이썬 캐시
__pycache__/
*.py[cod]
*.pyo

# 에디터/IDE 설정 파일
.vscode/
.idea/
*.swp

# OS 파일
.DS_Store
Thumbs.db

# 환경 설정
.env

# 모델 및 데이터 파일
*.pkl
*.log
*.db

# 제외하지 말아야 할 것 명시
!data_source/stopwords.csv

# 그 외 csv는 제외
*.csv


# 기타
*.bak
*.tmp
